/** S **/
@media screen and (max-width: 512px) {
  #body_template {
    display: grid;
    grid-template:
      "header" 16rem
      "main" auto
      "footer" 16rem;
  }
  .mobile_hidden {
    display: none;
  }
  .header_template {
    overflow: hidden;
    display: grid;
    grid-template:
      "logo login_button language"
      "logo_content logo_content logo_content";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .main_search_block_template {
    display: grid;
    grid-template:
      "search_block_mobile1 search_block_mobile2 search_block_mobile3 search_block_mobile4" 20rem
      "search_block_mobile5 search_block_mobile6 search_block_mobile7 search_block_mobile8" 20rem
      /20rem 20rem 20rem 20rem;
    grid-gap: 2rem;
  }
  .main_link_block_template {
    display: grid;
    grid-template:
      "linkblock_1 linkblock_2" 18rem
      "linkblock_3 linkblock_4" 18rem
      /1fr 1fr;
    grid-gap: 7.5rem;
  }
  .list_link {
    display: none;
  }
  .search_block_mobile {
    color: #242c51;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 6rem;
    padding: 1.5rem;
  }
  .search_block {
    display: none;
  }
}

/** M **/
@media screen and (min-width: 512px) {
  #body_template {
    display: grid;
    grid-template:
      "header" 8rem
      "main" auto
      "footer" 8rem;
  }
  .main_search_block_template {
    display: grid;
    grid-template:
      "search_block1 search_block2" 2fr
      "search_block5 search_block6" 1fr
      "search_block3 search_block4" 2fr
      "search_block7 search_block8" 1fr
      /1fr 1fr;
  }
  .main_link_block_template {
    display: grid;
    grid-template:
      "linkblock_1" 10rem
      "linkblock_2" 10rem
      "linkblock_3" 10rem
      "linkblock_4" 10rem;
    grid-gap: 2rem;
  }
  .main_search_block_mobile {
    display: none;
  }
  .search_block_mobile {
    display: none;
  }
  .search_block {
    display: grid;
    text-align: left;
  }

  .header_template {
    overflow: hidden;
    display: grid;
    grid-template: "logo logo_content login_button language menu_img";
    grid-template-columns: 20rem auto 12rem 24rem 12rem;
    grid-template-rows: 8rem;
    align-items: center;
  }
}

/** L **/
@media screen and (min-width: 1305px) {
  #body_template {
    display: grid;
    grid-template:
      "header" 8rem
      "main" auto
      "footer" 8rem;
  }
  .main_search_block_template {
    display: grid;
    grid-template:
      "search_block1 search_block2 search_block3 search_block4" 2fr
      "search_block5 search_block6 search_block7 search_block8" 1fr
      /1fr 1fr 1fr 1fr;
  }
  .main_link_block_template {
    display: grid;
    grid-template:
      "linkblock_1 linkblock_2" 18rem
      "linkblock_3 linkblock_4" 18rem
      /1fr 1fr;
    grid-gap: 7.5rem;
  }
  .main_search_block_mobile {
    display: none;
  }
  .search_block_mobile {
    display: none;
  }
  .search_block {
    display: grid;
    text-align: left;
  }

  .header_template {
    overflow: hidden;
    display: grid;
    grid-template: "logo logo_content login_button language menu_img";
    grid-template-columns: 20rem auto 12rem 24rem 12rem;
    grid-template-rows: 8rem;
    align-items: center;
  }
  #body_template {
    display: grid;
    grid-template:
      "header" 8rem
      "main" auto
      "footer" 8rem;
  }
}
/**** Responsive design ****/

@media (orientation: landscape) {
  html {
    font-size: 1vh;
  }
}

@media (orientation: portrait) {
  html {
    font-size: 1vw;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("./files/font/Montserrat/Montserrat-Regular.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Montserrat_Bold";
  src: url("./files/font/Montserrat/Montserrat-Bold.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Zeyada";
  src: url("./files/font/Zeyada/Zeyada-Regular.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Roboto Mono";
  src: url("./files/font/Roboto_Mono/static/RobotoMono-Light.ttf")
    format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body,
h1,
h2,
button,
menu,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto Mono";
  vertical-align: baseline;
  box-sizing: border-box;
}
a{
    font-family: Montserrat;
    font-style: normal;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;

    color: #E5E5E5;
    z-index:4;

}

/**** header ****/
header {
  grid-area: header;
  font-size: 2.2rem;
  color: #ffffff;
  background-color: #242c51;
}

#logo {
  grid-area: logo;
  height: 6rem;
  width: auto;
  margin: 0 4rem;
}

#logo_content {
  grid-area: logo_content;
  font-family: "Zeyada";
  font-weight: 200;
  color: #53c3c9;
}

#login_button {
  grid-area: login_button;
  text-align: center;
}

#language {
  grid-area: language;
  display: flex;
  margin: auto 0;
  height: 4rem;
  font-size: 2.1rem;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.7);
  background-color: #f8faf7;
  border-radius: 1.2rem;
}

.language_button {
  width: 12rem;
  height: 3rem;
  line-height: 3rem;
  margin: auto 0.6rem;
  border-radius: 1.2rem;
  text-align: center;
  color: #000000;
  cursor: pointer;
}


.language_button_clicked {
  background-color: #c4c4c4;
}

#menu_img {
  grid-area: menu_img;
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
  cursor: pointer;
}

menu {
  font-family: "Montserrat_Bold";
  background-color: rgba(143, 147, 166, 0.8);
  position: absolute;
  right: 0;
  top: 8rem;
  z-index: 999;
  display: none;
}


menu p {
  font-family: "Montserrat_Bold";
}
menu ol {
  font-family: "Montserrat_Bold";
  padding: 3rem;
}
menu ul {
  cursor: pointer;
  display: grid;
  grid-template-columns: 5rem auto;
  align-items: center;
  text-align: left;
  padding: 0 2rem;
}

menu img {
  height: 3rem;
  padding: 1rem;
}

/** main **/
main {
  grid-area: main;
  background-color: #ffffff;
}

#main_content {
  padding: 5rem 0;
  position: relative;
  display: grid;
  justify-items: center;
  background-color: #233b50;
}

/** main **/

#main_content_title {
  position: absolute;
  text-align: center;
  color: #ffffff;
  font-size: 6rem;
}

#main_content img {
  width: 100%;
}

#main_content_input {
  position: absolute;
  bottom: 10rem;
  color: #ffffff;
  font-size: 4rem;
  display: grid;
  grid-template-columns: 15rem 45rem;
}

#main_content_input input {
  padding: 0 4rem;
  font-size: 4rem;
}

#main_notice {
  width: 80%;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-size: 2.5rem;
  align-items: center;
  display: grid;
  grid-template-rows: 15rem repeat(5, 9rem);
  margin: 0 auto 9rem auto;
}

#main_notice_title {
  text-align: center;
  color: #bb5c5c;
}

.main_notice_list {
  display: flex;
}
.list{
   margin:-10px 100px;
   position: absolute;
   width:100%;
   height:50%;

   background: #FAFDFF;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: Roboto Mono;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 42px;
   text-align: center;

   color: #000000;
}

.list_link {
  height: 4.5rem;
  cursor: pointer;
  text-decoration: underline;
  padding: 0 1.5rem;
  margin: 0 1.5rem;
  font-family: "Montserrat_Bold";
  color: #0eefa9;
  font-weight: bold;
  font-size: 2rem;
  line-height: 4.5rem;
  border-radius: 2rem;
  border: 0.2rem solid #0eefa9;
}

#main_slide {
  display: grid;
  position: relative;
  justify-items: center;
  height: 4.5rem;
  background-color: rgba(36, 44, 81, 0.56);
}

#silde_title {
  font-size: 2.8rem;
  line-height: 4.5rem;
  color: #f8faf7;
}

#main_slide img {
  position: absolute;
  height: 4.5rem;
  width: 4.5rem;
}

.main_page {
  padding: 6rem 3rem;
  background-color: #f6f6f6;
}

.main_title {
  margin: 0 auto;
  height: 4.5rem;
  display: flex;
  color: #122542;
}

.main_title img {
  height: 4.5rem;
  width: auto;
}

.main_title_content {
  font-family: "Montserrat_Bold";
  font-size: 3rem;
  line-height: 4.5rem;
}

.main_search_block {
  cursor: pointer;
  margin: 3rem;
}

.main_search_block img {
  transition: 1s;
}
.main_search_block img:hover {
  transform: translate(0, +5%);
}

#search_block_mobile1 {
  grid-area: search_block_mobile1;
}
#search_block_mobile2 {
  grid-area: search_block_mobile2;
}
#search_block_mobile3 {
  grid-area: search_block_mobile3;
}
#search_block_mobile4 {
  grid-area: search_block_mobile4;
}
#search_block_mobile5 {
  grid-area: search_block_mobile5;
}
#search_block_mobile6 {
  grid-area: search_block_mobile6;
}
#search_block_mobile7 {
  grid-area: search_block_mobile7;
}
#search_block_mobile8 {
  grid-area: search_block_mobile8;
}

.search_color1 {
  background-color: #b4bcbf;
}
.search_color2 {
  background-color: #e7dfdd;
}
.search_color3 {
  background-color: #d3c4be;
}
.search_color4 {
  background-color: #f7efec;
}

.search_block_l img {
  height: 40rem;
  width: 25rem;
}

.search_block_s img {
  height: 20rem;
  width: 25rem;
}

.search_block p {
  font-family: "Montserrat_Bold";
  font-size: 2rem;
  margin-top: 2rem;
  color: #242c51;
}

#search_block1 {
  grid-area: search_block1;
}
#search_block2 {
  grid-area: search_block2;
}
#search_block3 {
  grid-area: search_block3;
}
#search_block4 {
  grid-area: search_block4;
}
#search_block5 {
  grid-area: search_block5;
}
#search_block6 {
  grid-area: search_block6;
}
#search_block7 {
  grid-area: search_block7;
}
#search_block8 {
  grid-area: search_block8;
}

.main_link_block {
  margin: 3rem;
}

.link_block {
  cursor: pointer;
  display: grid;
  font-size: 4.5rem;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 120% auto;
  opacity: 0.8;
  color: #ffffff;
  font-family: "Montserrat_Bold";
  text-align: center;
  align-items: center;
  transition: 1s;
}

.link_block:hover {
  transform: translate(0, +5%);
}
#link_block1 {
  grid-area: linkblock_1;
  background-image: url("./files/images/main_link/1_MOOCS.jpg");
}
#link_block2 {
  grid-area: linkblock_2;
  background-image: url("./files/images/main_link/2_AcademicEthics.jpg");
}
#link_block3 {
  grid-area: linkblock_3;
  background-image: url("./files/images/main_link/3_USTP.jpg");
}
#link_block4 {
  grid-area: linkblock_4;
  background-image: url("./files/images/main_link/4_CrossDomin.jpg");
}

/**** footer ****/
footer {
  grid-area: footer;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 3rem;
  line-height: 8rem;
  padding: 0 10rem;
  background-color: #242c51;
}
